<%- include('./header', {}) %>

<title><%= __('login.head.title') %></title>
</head>
<body>
<div class="row title">
  <div class="container">
    <div class="col-md-4 col-md-offset-4">
    <form class="form-signin" method="POST" action="./login">
    <h2><%= __('login.login') %></h2>
    <div><small style="color: #ff0000;"><%= message %></small></div>
    <input type="text" class="form-control clear" name="id" placeholder="<%= __('login.placeholder.userid') %>" required="" autofocus=""/><br/>
    <input type="password" class="form-control clear" name="password" placeholder="<%= __('login.placeholder.password') %>" required=""/><br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit"><%= __('login.login') %></button>
    </form>
  </div>
</div>

<%- include('./footer', {}) %>
